---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Umami from '@/components/about/Umami.astro'
import NotByAISvg from '@/assets/not-by-ai-badge.svg'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Developer / Designer</p>
  <p>
    Full-time undergraduate student majoring in Computer Science, skilled in big data and full-stack
    web development. Passionate about UI/UX design and photography during leisure time.
  </p>
  <p>My motto: Stay hungry, Stay foolish. <Spoiler>求知若愚，虚怀若谷。</Spoiler></p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li><b>Coding</b>: editors like is Neovim > VSCode > Zed</li>
    <li>
      <b>Hamradio</b>: callsign BH8GHG with license B. Find more on <a
        href='https://www.qrz.com/db/bh8ghg'
        target='_blank'>QRZ</a
      > |
      <a href='https://www.hamqth.com/BH8GHG' target='_blank'>HamQTH</a>
    </li>
    <li><b>Creation</b>: Adobe series, deeply cultivating UI design field</li>
    <li>
      <b>Music</b>: wide music preferences, with electronic music led, and love to try new songs.
      Stream app like is Apple Music > NetEase > others.
    </li>
    <li>
      <b>Game</b>: game like is Arknights > independent games > rhythm games > Honkai series.
    </li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Creation'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Lightroom Classic',
        description: 'Photo Toning',
        href: 'https://www.adobe.com/products/photoshop-lightroom.html',
        icon: import('@/assets/tools/lightroom.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      },
      {
        name: 'Audition',
        description: 'Audio Edition',
        href: 'https://www.adobe.com/products/audition',
        icon: import('@/assets/tools/audition.svg?raw')
      },
      {
        name: 'Davinci',
        description: 'Video Creation',
        href: 'http://www.blackmagicdesign.com/products/davinciresolve',
        icon: import('@/assets/tools/davinci.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Tailscale',
        description: 'Remote Collaboration',
        href: 'https://tailscale.com/',
        icon: import('@/assets/tools/tailscale.svg?raw')
      },
      {
        name: 'Obsidian',
        description: 'Knowledge & Note-taking',
        href: 'https://obsidian.md/',
        icon: import('@/assets/tools/obsidian.svg?raw')
      },
      {
        name: 'Zotero',
        description: 'Literature Review',
        href: 'https://www.zotero.org/',
        icon: import('@/assets/tools/zotero.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Zed',
        description: 'Text Editor',
        href: 'https://zed.dev/',
        icon: import('@/assets/tools/zed.svg?raw')
      },
      {
        name: 'Unity Editor',
        description: 'Game Engine',
        href: 'https://unity.com/',
        icon: import('@/assets/tools/unity.svg?raw')
      },
      {
        name: 'Android Studio',
        description: 'Android Development',
        href: 'https://developer.android.com/studio',
        icon: import('@/assets/tools/androidstudio.svg?raw')
      },
      {
        name: 'QT Studio',
        description: 'C++ Component Development',
        href: 'https://www.qt.io/',
        icon: import('@/assets/tools/qt.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Windows 11',
        description: 'Lenovo Legion',
        href: 'https://www.microsoft.com/en-us/windows/windows-11',
        icon: import('@/assets/tools/windows11.svg?raw')
      },
      {
        name: 'Debian GNU/Linux 12',
        description: 'fnOS',
        href: 'https://www.debian.org/',
        icon: import('@/assets/tools/debian.svg?raw')
      },
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'iOS 16.0 & iPadOS 17.0',
        description: 'Apple Mobile OS',
        href: 'https://www.apple.com/ios',
        icon: import('@/assets/tools/apple.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    The main network usernames include <code>CWorld</code>, <code>CWorld0</code>, and <code
      >CWorld1</code
    >.
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/cworld1',
        text: 'followers',
        api: 'github/cworld1'
      },
      {
        platform: 'Telegram',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/cworld0_cn',
        text: 'subscribers',
        api: 'telegram/cworld0_cn'
      },
      {
        platform: 'Coolapk',
        icon: 'coolapk',
        color: '#11ab60',
        link: 'https://www.coolapk.com/u/1384771',
        text: 'fans',
        // api: 'coolapk/1384771',
        count: 6341
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/388346465',
        text: 'fans',
        // api: 'bilibili/388346465'
        count: 83
      },
      {
        platform: 'X',
        icon: 'x',
        link: 'https://x.com/CWorld0',
        text: 'followers',
        // api: 'twitter/cworld0',
        count: 38
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/cworld',
        text: 'games',
        api: 'steamgames/76561199021278120'
      },
      {
        platform: 'Weibo',
        icon: 'weibo',
        color: '#e71f19',
        link: 'https://weibo.com/cworld0',
        text: 'followers',
        // api: 'weibo/5501674056'
        count: 17
      },
      {
        platform: 'Zhihu',
        icon: 'zhihu',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/wolf-03',
        text: 'followers',
        // api: 'zhihu/wolf-03'
        count: 6
      }
    ]}
  />

  {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Why called CWorld?'>
    The original name is actually ChangingWorld, and "C" is the elder of high-level languages in the
    programming world - C Language, also known as the crazy initials, is a support and hope for the
    perseverance spirit in the field of computer science. And ChangingWorld means although world is
    changing , but I won't follow the trend, be myself, be unique. (Wrote it randomly)
  </Collapse>
  <Collapse title='Some history about your avatar?'>
    <ul>
      <li>
        <p>
          The classic one was just caught from Internet casually (I even once used a more obscure
          version after losing the original image). But after checking it out, it turns out that
          <i>おむたつ/omutatsu</i> painted a lovely cover for famous artist <i>*Luna</i>. So we can
          say there is a little story behind this avatar (/≧▽≦)/
        </p>
        <p>
          the original image is now at <a
            target='_blank'
            href='https://www.pixiv.net/en/artworks/76316346'>Pixiv</a
          > | <a target='_blank' href='https://x.com/i/web/status/1162648749987864576'>X</a>.
        </p>
      </li>
      <li>
        <p>
          Another replacement avatar is used occasionally when tired, but it is used less frequently
          recently. Who can resist the allure of classic styles?
        </p>
        <p>
          the original image is now at <a
            target='_blank'
            href='https://x.com/Lirseven/status/1555100624768753664'>X</a
          >.
        </p>
      </li>
    </ul>
  </Collapse>
  <Collapse title='What kind of music or rhythm games are playing?'>
    I have tried almost all the games in the music game circle. Commonly played include Cytus II,
    Lanota, Musedash, etc. I have played Lyrica, Phigros, Rhythm Doctor, and Ice and Fire Dance
    before.
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Visit statistics:</p>
  <Umami class='not-prose' />
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2019-06-14',
        content: 'Website sprouted up and started using Hexo to build the blog'
      },
      { date: '2019-07-08', content: 'Website has been deployed the first version on Gitee' },
      {
        date: '2019-07-31',
        content:
          'Bought my first domain in life <a href="https://cworld.top/" target="_blank">cworld.top</a>'
      },
      {
        date: '2020-01-24',
        content:
          'Website deployed in Coding, with the domain <a href="https://blog.cworld.top/" target="_blank">blog.cworld.top</a> bounded'
      },
      { date: '2022-02-12', content: 'Moved to Netlify and open source it on Github' },
      {
        date: '2022-03-01',
        content:
          'Website successfully signed and joined <a href="https://www.foreverblog.cn/blog/2788.html" target="_blank">Forever Blog</a>'
      },
      {
        date: '2024-04-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a> (Old one is saved at <a href="https://cworld-blogv2.netlify.app/" target="_blank">cworld-blogv2.netlify.app</a>)'
      },
      {
        date: '2024-10-23',
        content:
          'Bought new domain <a href="https://cworld0.com/" target="_blank">cworld0.com</a> with new redesigned theme <a href="https://github.com/cworld1/astro-theme-pure" target="_blank">Astro Theme Pure</a>'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='https://cworld0.com/' target='_blank'>cworld0.com</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Analytics: <a href='https://github.com/umami-software/umami' target='_blank'>Umami</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      > & <a href='https://github.com/willow-god/Friend-Circle-Lite' target='_blank'
        >Friend Circle Lite</a
      >
    </li>
  </ul>
  <p>... and one thing I have been insisting on so far:</p>
  <a href='https://notbyai.fyi/' target='_blank'>
    <NotByAISvg width='131' height='42' />
  </a>
</PageLayout>
