/* 整体 */
#github_calendar {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--inside-background);
}

/* 热力图 */
#github_calendar .js-calendar-graph {
    overflow-x: scroll;
}

rect.ContributionCalendar-day {
    fill: var(--inside-accent-color);
}

rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--inside-border-color);
}

rect.ContributionCalendar-day[data-level='1'] {
    opacity: 0.4;
}

rect.ContributionCalendar-day[data-level='2'] {
    opacity: 0.6;
}

rect.ContributionCalendar-day[data-level='3'] {
    opacity: 0.8;
}

rect.ContributionCalendar-day[data-level='4'] {
    opacity: 1;
}

text.ContributionCalendar-label {
    fill: var(--inside-highlight-04);
    font-size: 11px
}

/* 描述 */
#github_calendar .js-calendar-graph .width-full .float-left {
    display: none;
}

/* 详情 */
#github_calendar .contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid var(--inside-border-color);
    border-top: 1px solid var(--inside-border-color);
    font-size: 11px;
}

#github_calendar .contrib-column-first {
    border-left: 0
}

#github_calendar .table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
    color: var(--inside-highlight-05);
}

#github_calendar .contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: var(--inside-accent-color);
}