---
import { siteConfig } from '@/site-config'

const { content } = Astro.props
---

<div
  id='qrcode-container'
  aria-expanded='false'
  class='absolute z-10 -mt-2 box-content max-h-0 overflow-hidden rounded-xl border bg-muted p-4 opacity-0 transition-all duration-300 ease-in-out *:my-0 aria-expanded:max-h-[256px] aria-expanded:translate-y-4 aria-expanded:opacity-100'
>
</div>

<script is:inline src={`${siteConfig.npmCDN}/qrcodejs/qrcode.min.js`}></script>
<script is:inline define:vars={{ content }}>
  const renderContent = content ?? window.location.href
  // Load qrcode
  function loadqrcode(qrcodeContainer) {
    if (!qrcodeContainer) throw new Error('qrcode container not found')
    if (qrcodeContainer.innerHTML !== '') return
    new QRCode(qrcodeContainer, renderContent)
  }
  const getQRCode = document.getElementById('get-qrcode')

  const qrcodeContainer = document.getElementById('qrcode-container')
  if (!qrcodeContainer) throw new Error('qrcode container not found')
  getQRCode?.addEventListener('click', () => {
    if (qrcodeContainer.ariaExpanded === 'true') {
      qrcodeContainer.ariaExpanded = 'false'
    } else {
      loadqrcode(qrcodeContainer)
      qrcodeContainer.ariaExpanded = 'true'
    }
  })
</script>
