---
import { cn } from '@/utils'

const { class: className } = Astro.props
---

<quote-component class={cn('not-prose inline-block', className)}>
  <div
    class='flex flex-row items-center gap-x-3 rounded-full border border-border px-4 py-2 text-sm shadow-sm'
  >
    <span class='relative flex items-center justify-center'>
      <span
        class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
      ></span>
      <span class='size-2 rounded-full bg-green-400'></span>
    </span>
    <p id='quote-sentence' class='font-medium text-muted-foreground'>Loading...</p>
  </div>
</quote-component>

<script>
  import { integrationConfig } from '@/site-config'

  const { quote } = integrationConfig

  class Quote extends HTMLElement {
    constructor() {
      super()
    }

    render(sentence: string) {
      const quoteEl = this.querySelector('#quote-sentence') as HTMLElement
      if (!quoteEl) return
      quoteEl.innerText = sentence
    }

    connectedCallback() {
      fetch(quote.server)
        .then((response) => response.json())
        .then((data) => this.render(quote.target(data)))
    }
  }
  customElements.define('quote-component', Quote)
</script>
