---
import type { CardList } from '@/types'

import { cn } from '@/utils'

type Props = { children: CardList }
const { children } = Astro.props
---

<ul class='ms-5 flex list-disc flex-col gap-y-1'>
  {
    children.map((child) => {
      const Tag = child.link ? 'a' : 'p'
      return (
        <li>
          <Tag href={child.link} class={cn('block', Tag == 'a' && 'text-foreground')}>
            {child.title}
          </Tag>
          {child.children && child.children.length > 0 && <Astro.self children={child.children} />}
        </li>
      )
    })
  }
</ul>
