---
import { cn } from '@/utils'

interface Props {
  class?: string
  title: string
}
const { class: className, title, ...props } = Astro.props
---

<collapse-component class='group/expand'>
  <div
    class={cn(
      'rounded-xl border border-border px-3 my-4 sm:px-4 group-[.expanded]/expand:bg-muted',
      className
    )}
    {...props}
  >
    <slot name='before' />
    <div
      class='group/highlight expand-title sticky top-0 z-20 flex cursor-pointer items-center justify-between py-1.5 group-[.expanded]/expand:bg-muted sm:py-2'
    >
      <p class='m-0 transition-colors group-hover/highlight:text-primary'>{title}</p>
      <div class='expand-button'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='16'
          height='16'
          viewBox='0 0 24 24'
          fill='none'
          stroke-width='2.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='my-1 stroke-muted-foreground transition-all duration-300 group-hover/highlight:stroke-primary group-[.expanded]/expand:-rotate-90'
        >
          <line
            x1='5'
            y1='12'
            x2='19'
            y2='12'
            class='translate-x-1 scale-x-100 duration-300 ease-in-out group-[.expanded]/expand:translate-x-4 group-[.expanded]/expand:scale-x-0'
          ></line>
          <polyline
            points='12 5 19 12 12 19'
            class='translate-x-1 duration-300 ease-in-out group-[.expanded]/expand:translate-x-0'
          ></polyline>
        </svg>
      </div>
    </div>
    <div
      class='expand-conetent grid opacity-0 transition-all duration-300 ease-in-out group-[.expanded]/expand:mb-3 group-[.expanded]/expand:opacity-100 sm:group-[.expanded]/expand:mb-4'
    >
      <div class='overflow-hidden'>
        <slot />
      </div>
    </div>
  </div>
</collapse-component>

<script>
  class Collapse extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      const expandTitle = this.querySelector('.expand-title')
      // const expandable = this.querySelector('.expandable')
      expandTitle?.addEventListener('click', () => {
        this.classList.toggle('expanded')
      })
    }
  }
  customElements.define('collapse-component', Collapse)
</script>

<style>
  .expand-conetent {
    grid-template-rows: 0fr;
  }
  .expanded .expand-conetent {
    grid-template-rows: 1fr;
  }
</style>
