---
import Button from '@/components/Button.astro'
import CardList from '@/components/pages/CardList.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import { terms } from '@/site-config'

const meta = {
  title: 'Site policy',
  description: 'Site policy documentation'
}
---

<PageLayout meta={meta}>
  <div class='w-full'>
    <Button title='Back' href='/' style='back' />
    <h1 id='content-header' class='animate mb-6 mt-6 text-3xl font-medium sm:mt-10'>Site policy</h1>

    <div class='animate flex flex-col gap-y-4'>
      <h2 class='text-xl font-medium'>Site policy documentation</h2>
      <CardList {...terms} />
      <h2 class='text-xl font-medium'>Help Infomation</h2>
      <p>Email: <a href='mailto:cworldo@qq.com'>cworld0@qq.com</a></p>
    </div>
  </div>
</PageLayout>
