---
import { Button, CardList } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ, terms } from '@/site-config'

const meta = {
  title: 'Site policy',
  description: 'Site policy documentation'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Site Policy</h1>
    </div>

    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>Site policy documentation</h2>
      <CardList {...terms} />
      <h2 class='text-xl font-medium'>Help Infomation</h2>
      <p>You need to add md files in this directory.</p>
    </div>
  </main>
</PageLayout>
