---
import { cn } from '@/utils'

const { class: className, hideComment, path, ...props } = Astro.props
---

<div class={cn('text-base text-sm text-muted-foreground', className)} {...props}>
  <span class='waline-pageview-count' data-path={path}></span> views
  {
    !hideComment && (
      <a href='#waline'>
        | <span class='waline-comment-count' data-path={path} /> comments
      </a>
    )
  }
</div>
