---
import { cn, type TocItem } from '@/utils'

interface Props {
  heading: TocItem
}

const {
  heading: { depth, slug, subheadings, text }
} = Astro.props
---

<li class={`${depth > 2 ? 'ms-4' : ''}`}>
  <a
    aria-label={`Scroll to section: ${text}`}
    class={cn(
      'block line-clamp-2  text-foreground/75 transition-all hover:text-foreground [&.highlight]:font-medium [&.highlight]:text-primary',
      depth <= 3 ? 'mt-2.5' : 'mt-1 text-sm'
    )}
    href={`#${slug}`}>{text}</a
  >
  {
    !!subheadings.length && (
      <ul>
        {subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
