---
import '@/assets/styles/fc.css'
---

<div id='friend-circle-lite-root' class='not-prose relative'>Loading...</div>
<script>
  import { FriendCircle } from '@/plugins/friend-circle'

  const fc = new FriendCircle()
  fc.init({
    private_api_url: 'https://cworld-fc.netlify.app/',
    page_turning_number: 10,
    error_img: 'https://cravatar.cn/avatar/57d8260dfb55501c37dde588e7c3852c'
  })
  fc.load()
</script>
