---

---

{/* Use inline mode to quick load color, which can avoid splash */}
<script is:inline>
  function simpleSetTheme() {
    let theme = localStorage.getItem('theme')
    // If undefined or 'system', get from system
    if (!theme || theme === 'system') {
      theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }
    document.documentElement.classList.toggle('dark', theme === 'dark')
    document
      .querySelector('meta[name="theme-color"]')
      ?.setAttribute('content', theme === 'dark' ? '#0B0B10' : '#FCFCFD')
  }
  simpleSetTheme()
  document.addEventListener('astro:page-load', () => simpleSetTheme())
</script>
<script>
  // import { setTheme } from '@/utils/theme'
  // document.addEventListener('astro:page-load', () => setTheme())
  // Old way: dispatch event
  // document.addEventListener('theme-change', () => setTheme(undefined, true) )

  // Listen for toast event
  document.addEventListener('toast', (e) => {
    const { message } = (e as CustomEvent).detail
    const toast = document.createElement('div')
    toast.className =
      'animate fixed bottom-8 start-1/2 z-20 px-4 py-2 bg-muted text-foreground rounded-lg border border-border shadow-lg flex items-center gap-2 transform -translate-x-1/2'
    toast.innerHTML = `<svg class='size-6'><use href='/icons/ui.svg#mingcute-information-line' /></svg> <span>${message}</span>`
    document.body.appendChild(toast)
    setTimeout(() => {
      toast.remove()
    }, 3000)
  })
</script>
