---
import PageLayout from '@/layouts/BaseLayout.astro'

import { Button } from '@/components/user'
import { cn, getAllCollections, getUniqueTagsWithCount } from '@/utils'

const allPosts = await getAllCollections()
const allTags = getUniqueTagsWithCount(allPosts)

const meta = {
  description: "A list of all the topics I've written about in my posts",
  title: 'All Tags'
}
---

<PageLayout {meta}>
  <div class='w-full'>
    <Button title='Back' href='/blog' style='back' />
    <h1 class='mb-6 mt-6 text-3xl font-medium sm:mt-10'>Tags</h1>

    {
      allTags.length > 0 ? (
        <ul class='animate flex flex-wrap gap-4'>
          {allTags.map(([tag, val]) => (
            <li>
              <Button
                href={`/tags/${tag}`}
                style='pill'
                class={cn(
                  'items-start gap-x-1',
                  val > 2 ? 'rounded-2xl px-3.5 py-1 text-xl' : val > 1 && 'text-lg'
                )}
              >
                {tag}
                <span class={val > 2 ? 'text-base' : 'text-xs'}>{val}</span>
              </Button>
            </li>
          ))}
        </ul>
      ) : (
        <p>Any tag yet.</p>
      )
    }
  </div>
</PageLayout>
