---

---

<hitokoto-component>
  <p id='hitokoto' class='font-medium text-muted-foreground'>Loading...</p>
</hitokoto-component>

<script>
  class Hitokoto extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      fetch('https://v1.hitokoto.cn')
        .then((response) => response.json())
        .then((data) => {
          let hitokotoElement = this.querySelector('#hitokoto') as HTMLElement
          if (!hitokotoElement) return
          hitokotoElement.innerText = data.hitokoto
        })
    }
  }
  customElements.define('hitokoto-component', Hitokoto)
</script>
