---

---

<quote-component>
  <p id='quote-sentence' class='font-medium text-muted-foreground'>Loading...</p>
</quote-component>

<script>
  import { integrationConfig } from '@/site-config'

  const { quote } = integrationConfig

  class Quote extends HTMLElement {
    constructor() {
      super()
    }

    render(sentence: string) {
      const quoteEl = this.querySelector('#quote-sentence') as HTMLElement
      if (!quoteEl) return
      quoteEl.innerText = sentence
    }

    connectedCallback() {
      fetch(quote.server)
        .then((response) => response.json())
        .then((data) => this.render(quote.target(data)))
    }
  }
  customElements.define('quote-component', Quote)
</script>
