---
import { cn } from 'astro-pure/utils'

const { class: className, title } = Astro.props
---

<section class={cn('flex flex-col gap-y-5 md:flex-row md:gap-y-0', className)}>
  <div class='text-xl font-medium md:min-w-36'>
    <h2>{title}</h2>
  </div>
  <div class='flex flex-1 flex-col gap-y-3'>
    <slot />
  </div>
</section>
