---
import { cn } from '@/utils'

interface Props {
  class?: string
  title: string
}
const { class: className, title, ...props } = Astro.props
---

<collapse-component class='group/expand'>
  <div class={cn(className, 'rounded-xl border border-border py-3 px-5 my-4')} {...props}>
    <div class='group/highlight expand-title flex cursor-pointer justify-between'>
      <p class='m-0 transition-colors group-hover/highlight:text-primary'>{title}</p>
      <div class='expand-button'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='16'
          height='16'
          viewBox='0 0 24 24'
          fill='none'
          stroke-width='2.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='my-1 stroke-muted-foreground transition-all duration-300 group-hover/highlight:stroke-primary group-[.expanded]/expand:-rotate-90'
        >
          <line
            x1='5'
            y1='12'
            x2='19'
            y2='12'
            class='translate-x-1 scale-x-100 duration-300 ease-in-out group-[.expanded]/expand:translate-x-4 group-[.expanded]/expand:scale-x-0'
          ></line>
          <polyline
            points='12 5 19 12 12 19'
            class='translate-x-1 duration-300 ease-in-out group-[.expanded]/expand:translate-x-0'
          ></polyline>
        </svg>
      </div>
    </div>
    <div
      class='content-box max-h-0 overflow-hidden opacity-0 transition-all ease-in-out group-[.expanded]/expand:mt-2 group-[.expanded]/expand:max-h-full group-[.expanded]/expand:opacity-100'
    >
      <div
        class='invisible delay-300 group-[.expanded]/expand:visible group-[.expanded]/expand:delay-0'
      >
        <slot />
      </div>
    </div>
  </div>
</collapse-component>

<script>
  class Collapse extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      const expandTitle = this.querySelector('.expand-title')
      // const expandable = this.querySelector('.expandable')
      if (!expandTitle) return
      expandTitle.addEventListener('click', () => {
        if (this.classList.contains('expanded')) {
          this.classList.remove('expanded')
        } else {
          this.classList.add('expanded')
        }
      })
    }
  }
  customElements.define('collapse-component', Collapse)
</script>
