---
import { cn } from '@/utils'

const { class: className } = Astro.props
---

<comment-component>
  <div id='waline' class={cn('not-prose', className)}>
    Comment seems to stuck. Try to refresh?✨
  </div>
</comment-component>

<script>
  import { init } from '@waline/client'
  import '@waline/client/style'

  class Comment extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      init({
        el: '#waline',
        serverURL: 'https://waline.cworld.top',
        emoji: [
          'https://cdn.cbd.int/@waline/emojis@1.2.0/bmoji',
          'https://cdn.cbd.int/@waline/emojis@1.2.0/weibo'
        ],
        reaction: ['/images/comment-like.png'],
        // search: false,
        pageview: true,
        comment: true,
        locale: {
          reaction0: 'Like',
          placeholder: 'Welcome to comment. (Email to receive replies. Login is unnecessary)'
        }
      })
    }
  }

  customElements.define('comment-component', Comment)
</script>

<style>
  /* 基础配色 */
  #waline {
    /* 字体大小 */
    --waline-font-size: 16px;

    /* 常规颜色 */
    --waline-white: hsl(var(--background) / var(--tw-bg-opacity));
    --waline-light-grey: #999;
    --waline-dark-grey: #666;

    /* 主题色 */
    --waline-theme-color: hsl(var(--foreground) / var(--tw-text-opacity));
    --waline-active-color: hsl(var(--primary) / var(--tw-text-opacity));

    /* 布局颜色 */
    --waline-color: hsl(var(--muted-foreground) / var(--tw-text-opacity));
    --waline-bg-color: hsl(var(--primary-foreground) / var(--tw-bg-opacity));
    --waline-bg-color-light: hsl(var(--input) / var(--tw-bg-opacity));
    --waline-bg-color-hover: #f0f0f0;
    --waline-border-color: hsl(var(--border) / var(--tw-border-opacity));
    --waline-disable-bg-color: #f8f8f8;
    --waline-disable-color: #bbb;
    --waline-code-bg-color: #282c34;

    /* 特殊颜色 */
    --waline-bq-color: #f0f0f0;

    /* 头像 */
    --waline-avatar-size: 3.25rem;
    --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);

    /* 徽章 */
    --waline-badge-color: #3498db;
    --waline-badge-font-size: 0.775em;

    /* 信息 */
    --waline-info-bg-color: var(--waline-bg-color-light);
    --waline-info-color: var(--waline-color);
    --waline-info-font-size: 0.625em;

    /* 渲染选择 */
    --waline-border: 1px solid var(--waline-border-color);
    --waline-avatar-radius: 50%;
    --waline-box-shadow: none;
  }

  /* reaction buttons */
  #waline :global(.wl-reaction-title) {
    display: none !important;
  }
  #waline :global(.wl-reaction) {
    overflow: visible;
  }

  @media (max-width: 640px) {
    #waline :global(.wl-card-item) {
      padding: 0 !important;
    }
    #waline :global(.wl-cards .wl-user) {
      margin-inline-end: 0.45em;
    }
  }
</style>
