---
import '@/assets/styles/comment.css'
---

<comment-component>
  <div id='waline'>Comment seems to stuck. Try to refresh?✨</div>
</comment-component>

<script>
  import { init } from '@waline/client'
  import '@waline/client/style'

  class Comment extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      init({
        el: '#waline',
        serverURL: 'https://waline.cworld.top',
        emoji: [
          'https://cdn.cbd.int/@waline/emojis@1.2.0/bmoji',
          'https://cdn.cbd.int/@waline/emojis@1.2.0/weibo'
        ],
        reaction: ['/images/comment-like.png'],
        // search: false,
        pageview: true,
        comment: true,
        locale: {
          reaction0: 'Like',
          placeholder: 'Welcome to comment. (Email to receive replies. Login is unnecessary)'
        }
      })
    }
  }

  customElements.define('comment-component', Comment)
</script>
