---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'applications', text: 'Applications' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='applications'>Applications</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ”„ Ext Case Converter [Desktop]',
        description:
          'A simple tool to convert file extension cases between uppercase and lowercase',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/ext-case-converter' },
          { type: 'release', href: 'https://github.com/cworld1/ext-case-converter/releases' }
        ]
      },
      {
        name: 'ðŸ“‹ Nas Dashboard [Web]',
        description: 'A beautiful and minimalistic dashboard for your NAS. Static as possible ',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/nas-dashboard' },
          { type: 'site', href: 'https://cworld1.github.io/nas-dashboard' }
        ]
      },
      {
        name: 'ðŸ’¡ DDC Control [CLI]',
        description:
          'A pure Rust application that adjusts monitor brightness using the DDC/CI protocol',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/ddc-control' },
          { type: 'release', href: 'https://github.com/cworld1/ddc-control/releases' }
        ]
      },
      {
        name: 'ðŸŽµ flac2mp3 [CLI]',
        description:
          'A pure rust-driven application that converts your flac audio files to mp3 format',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/flac2mp3' },
          { type: 'release', href: 'https://github.com/cworld1/flac2mp3/releases' }
        ]
      },
      {
        name: 'âž• Pure New Tab [Browser Ext]',
        description: 'A open-source, clean and minimalistic new tab page extension',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/pure-new-tab' },
          { type: 'site', href: 'https://cworld0.com/blog/pure-new-tab' }
        ]
      },
      {
        name: 'ðŸ“’ Notie [Android]',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          { type: 'release', href: 'https://github.com/cworld1/notie/releases' }
        ]
      }
    ]}
  />
  <Collapse title='Archived Projects'>
    <ProjectSection
      projects={[
        {
          name: 'Novel Analysis [Web]',
          description: 'A simple project for analyzing Chinese novels',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/novel-analysis' },
            { type: 'site', href: 'https://cworld1.github.io/novel-analysis' }
          ]
        },
        {
          name: 'ðŸ’Œ Fluent Mail [Desktop]',
          description:
            'A program to send and receive emails with attachments supported by C++, Qt and SQL',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/fluent-mail' },
            { type: 'release', href: 'https://github.com/cworld1/fluent-mail/releases' }
          ]
        },
        {
          name: 'Kinect Camera Neural [Desktop]',
          description:
            'An AI program that using Kinect camera and shows neural networks and human skeleton',
          links: [{ type: 'github', href: 'https://github.com/cworld1/tcm' }]
        },
        {
          name: 'PureWeather [Android]',
          description:
            'Weather at a glance! Current and forecast weather for anywhere in the world',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/PureWeather' },
            { type: 'release', href: 'https://github.com/cworld1/PureWeather/releases' }
          ]
        },
        {
          name: 'Student Score System [Desktop]',
          description:
            'A student performance management system built using Qt and developed using C++',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/stu-score-sys' },
            { type: 'release', href: 'https://github.com/cworld1/stu-score-sys/releases' }
          ]
        },
        {
          name: 'Momotap [Web]',
          description: 'A mainland China friendly version extracted from Momotap',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/momotap' },
            { type: 'site', href: 'https://cworld1.github.io/momotap' }
          ]
        },
        {
          name: 'Aircraft Booking System',
          description: 'Aircraft booking system for terminal ui using C lan',
          links: [{ type: 'github', href: 'https://github.com/cworld1/aircraft-booking-system' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸŽ¨ Astro Theme Pure',
        description: 'A simple, fast and powerful blog & document theme built by Astro',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://astro-pure.js.org/' },
          { type: 'doc', href: 'https://astro-pure.js.org/docs/list' },
          { type: 'release', href: 'https://www.npmjs.com/package/astro-pure' }
        ]
      },
      {
        name: 'ðŸ¤– Health Assistant AI',
        description:
          'A professional AI-driven health consulting platform that provides users with personalized health advice',
        links: [{ type: 'github', href: 'https://github.com/cworld1/health-assistant-ai' }]
      },
      {
        name: 'ðŸ“º Five Star Sports Stream',
        description: 'Watch Five Sports Stream as you like',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/five-star-stream' },
          { type: 'release', href: 'https://github.com/cworld1/five-star-stream/releases' }
        ]
      },
      {
        name: 'ðŸŽ¨ Pure CSDN',
        description:
          'A usercss script for CSDN purification and optimization of reading experience',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/pure-csdn' },
          { type: 'site', href: 'https://github.com/cworld1/pure-csdn/raw/main/pure-csdn.user.css' }
        ]
      },
      {
        name: 'ðŸ§‘ Ark Avatar',
        description: 'Generate Arknights style avatar online',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/ark-avatar' },
          { type: 'site', href: 'https://ark-avatar.netlify.app/' }
        ]
      },
      {
        name: 'ðŸ§© rehype-autolink-headings-simple',
        description: 'A simple version of rehype-autolink-headings',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/rehype-autolink-headings-simple' },
          { type: 'release', href: 'https://www.npmjs.com/package/rehype-autolink-headings-simple' }
        ]
      }
    ]}
  />
  <Collapse title='Archived Projects'>
    <ProjectSection
      projects={[
        {
          name: 'pingpong-calculation',
          description: 'A calculation of pingpong play sport using go and rust',
          links: [{ type: 'github', href: 'https://github.com/cworld1/pingpong-calculation' }]
        },
        {
          name: 'pingpong-simulation',
          description: 'A simulation and calculation of pingpong play sport using unity 3d',
          links: [{ type: 'github', href: 'https://github.com/cworld1/pingpong-simulation' }]
        },
        {
          name: 'Arknights Telegram Bot',
          description: 'Telegram Bot for Arknights',
          links: [
            { type: 'github', href: 'https://github.com/IJNKAWAKAZE/arknights_bot' },
            { type: 'site', href: 'https://t.me/PtiIopsis_bot' },
            {
              type: 'doc',
              href: 'https://github.com/IJNKAWAKAZE/arknights_bot/blob/main/docs/Development.md'
            }
          ]
        },
        {
          name: 'PaiGram',
          description: 'Telegram robot, query the official Genshin information',
          links: [
            { type: 'github', href: 'https://github.com/PaiGramTeam/PaiGram' },
            { type: 'site', href: 'https://t.me/PaimonMasterBot' },
            { type: 'doc', href: 'https://docs.paimon.vip/' }
          ]
        },
        {
          name: 'Novel Data',
          description: 'The data repository of novel analysis',
          links: [{ type: 'github', href: 'https://github.com/cworld1/novel-data' }]
        },
        {
          name: 'N Queens Problem',
          description: 'A solution of solving N Queens Problem',
          links: [{ type: 'github', href: 'https://github.com/cworld1/nqueens-problem' }]
        },
        {
          name: 'Gaussian NB',
          description:
            'Simulating the Parsimonious Bayesian Algorithm with Python and Finding the Probability Prediction of Breast Cancer ',
          links: [{ type: 'github', href: 'https://github.com/cworld1/gaussian-nb' }]
        },
        {
          name: 'Business Data Analysis',
          description:
            'Using python and jupyter notebook to analyze the data of electrical appliances, and then using the data to predict the sales of electrical appliances',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/business-data' },
            { type: 'site', href: 'https://github.com/cworld1/business-data/blob/main/main.ipynb' }
          ]
        },
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Poker Hover Effect [Web]',
          description: 'A demo HTML program that shows poker hover effect only using CSS',
          links: [{ type: 'github', href: 'https://github.com/cworld1/poker-hover-effect' }]
        },
        {
          name: 'Effect of Browser Multi-Window Stacking [Web]',
          description: 'A demo program that shows effect of browser multi-window stacking',
          links: [{ type: 'github', href: 'https://github.com/cworld1/browser-multiwin-stack' }]
        },
        {
          name: 'Vue Login [Web]',
          description: 'A simple Vue designed login program',
          links: [{ type: 'github', href: 'https://github.com/cworld1/vue-login' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Operation System Principle Learning',
        description: 'Some notes and code about CWorld learning Operating System Principle',
        image: 'osp-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/osp-learning' },
          { type: 'site', href: 'https://cworld1.github.io/osp-learning' },
          { type: 'doc', href: 'https://cworld1.github.io/osp-learning/README' }
        ]
      },
      {
        name: 'Computer Composition Principle Learning',
        description: 'Some notes and code about CWorld learning Computer Composition Principle',
        image: 'ccp-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/ccp-learning' },
          { type: 'site', href: 'https://cworld1.github.io/ccp-learning' },
          { type: 'doc', href: 'https://cworld1.github.io/ccp-learning/README' }
        ]
      },
      {
        name: 'Database Learning',
        description: 'Some notes and code about learning Database',
        image: 'db-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/db-learning' },
          { type: 'site', href: 'https://cworld1.github.io/db-learning' }
        ]
      },
      {
        name: 'Computer Network Learning',
        description: 'Some notes and code about learning Computer Network',
        image: 'cn-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/cn-learning' },
          { type: 'site', href: 'https://cworld1.github.io/cn-learning' }
        ]
      },
      {
        name: 'Data Analysis Learning',
        description: 'Some notes and code about learning Data Analysis',
        image: 'da-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/da-learning' },
          { type: 'site', href: 'https://cworld1.github.io/da-learning' }
        ]
      },
      {
        name: 'Linux Learning',
        description: 'Some notes and code about learning Linux',
        image: 'linux-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/linux-learning' },
          { type: 'site', href: 'https://cworld1.github.io/linux-learning' }
        ]
      },
      {
        name: 'R Learning',
        description: 'Some notes and code about learning R language',
        image: 'r-learning.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/r-learning' },
          { type: 'site', href: 'https://cworld1.github.io/r-learning' }
        ]
      }
    ]}
  />

  <Collapse title='Archived Projects'>
    <ProjectSection
      projects={[
        {
          name: 'Rust Learning',
          description: 'Some notes and code about CWorld learning Rust',
          links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
        },
        {
          name: 'Unity Learning',
          description: 'Some notes and code about learning Unity',
          links: [{ type: 'github', href: 'https://github.com/cworld1/unity-learning' }]
        },
        {
          name: 'Matlab Learning',
          description: 'Some notes and code about learning Matlab',
          links: [{ type: 'github', href: 'https://github.com/cworld1/matlab-learning' }]
        },
        {
          name: 'Java Learning',
          description: 'Some notes and code about learning Java',
          links: [{ type: 'github', href: 'https://github.com/cworld1/java-learning' }]
        },
        {
          name: 'C Learning',
          description: 'Some notes and code about learning C language',
          links: [{ type: 'github', href: 'https://github.com/cworld1/c-learning' }]
        },
        {
          name: 'Vue Learning',
          description: 'Some notes and code about learning Vue',
          links: [{ type: 'github', href: 'https://github.com/cworld1/vue-learning' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'Dotfiles',
        description: 'Personal *unix dotfiles',
        links: [{ type: 'github', href: 'https://github.com/cworld1/dotfiles' }]
      },
      {
        name: 'Neovim Config',
        description: 'Personal Neovim config files',
        links: [{ type: 'github', href: 'https://github.com/cworld1/nvim-config' }]
      },
      {
        name: 'CWorld Website',
        description: "CWorld's personal website",
        links: [{ type: 'github', href: 'https://github.com/cworld1/cworld1' }]
      }
    ]}
  />

  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>0CFDE5AC865A9148</code>, and you can find it on the opengpg key servers or download
    from it.
  </p>
  <Button
    href='https://keys.openpgp.org/search?q=3E366C177CDBCD876FE0E065D42B539DC7C62A82'
    title='Checkout my key'
    target='_blank'
  >
    <KeyIcon class='size-5' slot='before' />
  </Button>

  <h2 id='sponsorship'>Sponsorship</h2>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Please leave a message or contact me proactively after sponsorship. My email is:
    <code style='cursor: pointer'
      onclick='const m=atob(this.textContent);alert(m);window.open(`mailto:${m}`,"_blank")'
    >Y3dvcmxkMEBxcS5jb20=</code>
    (click code to transform base64).
  </p>
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    progressMax={50}
    sponsors={[
      { name: 'hoochanlon', platform: 'Wechat', amount: 5, date: '2025-11-09' },
      { name: 'Arthals', platform: 'Wechat', amount: 50, date: '2025-11-06' },
      { name: 'è¾¹ç¼˜æ˜Ÿ2020 (byx2020.com)', platform: 'Alipay', amount: 50, date: '2025-11-01' },
      { name: 'å°å“²', platform: 'Wechat', amount: 50, date: '2025-08-19' },
      { name: 'Open1V', platform: 'Wechat', amount: 2, date: '2025-08-14' },
      { name: 'Luis Xu (ä¸èµŒä¸æ¯’ä¸çƒŸä¸é…’)', platform: 'Alipay', amount: 5, date: '2025-08-03' },
      { name: 'é¡¾**', platform: 'Wechat', amount: 28, date: '2025-06-23' },
      { name: 'Hans J.Han', platform: 'Wechat', amount: 10, date: '2025-04-04' },
      { name: '**é’', platform: 'Alipay', amount: 12, date: '2024-05-21' },
      { name: 'Anonymous', platform: 'Wechat', amount: 20, date: '2022-04-06' },
      { name: 'åŽé›„', platform: 'QQ', amount: 5, date: '2019-12-30' },
      { name: 'â—Œ', platform: 'QQ', amount: 3, date: '2019-12-30' },
      { name: 'C*a (é…·å®‰@æš´èµ°ã®èœ—ç‰›)', amount: 2, date: '2019-07-02' }
    ]}
  />
</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
