---
import Button from '@/components/Button.astro'
import Collapse from '@/components/Collapse.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import { Image } from 'astro:assets'
import wechat from '@/assets/wechat-qrcode.jpg'
import alipay from '@/assets/alipay-qrcode.jpg'

const headings = [
  {
    depth: 2,
    slug: 'applications',
    text: 'Applications'
  },
  {
    depth: 2,
    slug: 'programs',
    text: 'Programs'
  },
  {
    depth: 2,
    slug: 'learnings',
    text: 'Learnings'
  },
  {
    depth: 2,
    slug: 'others',
    text: 'Others'
  },
  {
    depth: 2,
    slug: 'gpg-signature',
    text: 'GPG Signature'
  },
  {
    depth: 2,
    slug: 'sponsorship',
    text: 'Sponsorship'
  }
]
---

<PageLayout title='Projects' headings={headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='eager'
      decoding='async'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <svg class='size-5' slot='before'>
      <use href='/icons/copyright-sponsor.svg#mingcute-receive-money-line'></use>
    </svg>
  </Button>

  <h2 id='applications'>Applications</h2>
  <ProjectSection
    project={[
      {
        name: 'âž• Pure New Tab [Browser Extension]',
        description: 'A open-source, clean and minimalistic new tab page extension',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/pure-new-tab' },
          { type: 'site', href: 'https://cworld.top/blog/pure-new-tab' }
        ]
      },
      {
        name: 'ðŸ“Š Novel Analysis [Web]',
        description: 'A simple project for analyzing Chinese novels',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/novel-analysis' },
          { type: 'site', href: 'https://na.cworld.top/' }
        ]
      },
      {
        name: 'ðŸ“’ Notie [Android]',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
          { type: 'release', href: 'https://github.com/cworld1/notie/releases' }
        ]
      },
      {
        name: 'ðŸ’Œ Fluent Mail [Desktop]',
        description:
          'A program to send and recieve emails with attachments supported by C++, Qt and SQL',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/fluent-mail' },
          { type: 'release', href: 'https://github.com/cworld1/fluent-mail/releases' }
        ]
      },
      {
        name: 'â›… PureWeather [Android]',
        description: 'Weather at a glance! Current and forecast weather for anywhere in the world',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/PureWeather' },
          { type: 'release', href: 'https://github.com/cworld1/PureWeather/releases' }
        ]
      },
      {
        name: 'ðŸ“· Kinect Camera Netural [Desktop]',
        description:
          'An AI program that using Kinect camera and shows netural network and human skeleton',
        links: [{ type: 'github', href: 'https://github.com/cworld1/tcm' }]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: 'Poker Hover Effect [Web]',
          description: 'A demo HTML program that shows poker hover effect only using CSS',
          links: [{ type: 'github', href: 'https://github.com/cworld1/poker-hover-effect' }]
        },
        {
          name: 'Effect of Browser Multi-Window Stacking [Web]',
          description: 'A demo program that shows effect of browser multi-window stacking',
          links: [{ type: 'github', href: 'https://github.com/cworld1/browser-multiwin-stack' }]
        },
        {
          name: 'Vue Login [Web]',
          description: 'A simple Vue designed login program',
          links: [{ type: 'github', href: 'https://github.com/cworld1/vue-login' }]
        },
        {
          name: 'Student Score System [Desktop]',
          description:
            'A student performance management system built using Qt and developed using C++',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/stu-score-sys' },
            { type: 'release', href: 'https://github.com/cworld1/stu-score-sys/releases' }
          ]
        },
        {
          name: 'Momotap [Web]',
          description: 'A mainland China friendly version extracted from Momotap',
          links: [
            { type: 'github', href: 'https://github.com/cworld1/momotap' },
            { type: 'site', href: 'https://cworld1.github.io/momotap' }
          ]
        },
        {
          name: 'Aircraft Booking System',
          description: 'Aircraft booking system for terminal ui using C lan',
          links: [{ type: 'github', href: 'https://github.com/cworld1/aircraft-booking-system' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: 'ðŸ¤– Arknights Telegram Bot',
        description: 'Telegram Bot for Arknights',
        links: [
          { type: 'github', href: 'https://github.com/IJNKAWAKAZE/arknights_bot' },
          { type: 'site', href: 'https://t.me/PtiIopsis_bot' },
          {
            type: 'doc',
            href: 'https://github.com/IJNKAWAKAZE/arknights_bot/blob/main/docs/Development.md'
          }
        ]
      },
      {
        name: 'ðŸ¤– PaiGram',
        description: 'Telegram robot, query the official Genshin information',
        links: [
          { type: 'github', href: 'https://github.com/PaiGramTeam/PaiGram' },
          { type: 'site', href: 'https://t.me/PaimonMasterBot' },
          { type: 'doc', href: 'https://docs.paimon.vip/' }
        ]
      },
      {
        name: 'ðŸ“Š Novel Data',
        description: 'The data repository of novel analysis',
        links: [{ type: 'github', href: 'https://github.com/cworld1/novel-data' }]
      },
      {
        name: 'ðŸ§® N Queens Problem',
        description: 'A solution of solving N Queens Problem',
        links: [{ type: 'github', href: 'https://github.com/cworld1/nqueens-problem' }]
      },
      {
        name: 'ðŸ› ï¸ Gaussian NB',
        description:
          'Simulating the Parsimonious Bayesian Algorithm with Python and Finding the Probability Prediction of Breast Cancer ',
        links: [{ type: 'github', href: 'https://github.com/cworld1/gaussian-nb' }]
      },
      {
        name: 'ðŸ“Š Business Data Analysis',
        description:
          'Using python and jupyter notebook to analyze the data of electrical appliances, and then using the data to predict the sales of electrical appliances',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/business-data' },
          { type: 'site', href: 'https://github.com/cworld1/business-data/blob/main/main.ipynb' }
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld.top/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'Rust Learning',
        description: 'Some notes and code about CWorld learning Rust',
        links: [{ type: 'github', href: 'https://github.com/cworld1/rust-learning' }]
      },
      {
        name: 'Unity Learning',
        description: 'Some notes and code about learning Unity',
        links: [{ type: 'github', href: 'https://github.com/cworld1/unity-learning' }]
      },
      {
        name: 'Matlab Learning',
        description: 'Some notes and code about learning Matlab',
        links: [{ type: 'github', href: 'https://github.com/cworld1/matlab-learning' }]
      },
      {
        name: 'Operation System Principle Learning',
        description: 'Some notes and code about CWorld learning Operating System Principle',
        image: 'osp.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/osp-learning' },
          { type: 'site', href: 'https://osp.cworld.top/' },
          { type: 'doc', href: 'https://osp.cworld.top/README' }
        ]
      },
      {
        name: 'Computer Composition Principle Learning',
        description: 'Some notes and code about CWorld learning Computer Composition Principle',
        image: 'ccp.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/ccp-learning' },
          { type: 'site', href: 'https://ccp.cworld.top/' },
          { type: 'doc', href: 'https://ccp.cworld.top/README' }
        ]
      },
      {
        name: 'Database Learning',
        description: 'Some notes and code about learning Database',
        image: 'db.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/db-learning' },
          { type: 'site', href: 'https://db.cworld.top/' },
          { type: 'doc', href: 'https://db.cworld.top/intro' }
        ]
      },
      {
        name: 'Computer Network Learning',
        description: 'Some notes and code about learning Computer Network',
        image: 'cn.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/cn-learning' },
          { type: 'site', href: 'https://cn.cworld.top/' },
          { type: 'doc', href: 'https://cn.cworld.top/intro' }
        ]
      },
      {
        name: 'Data Analysis Learning',
        description: 'Some notes and code about learning Data Analysis',
        image: 'da.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/da-learning' },
          { type: 'site', href: 'https://da.cworld.top/' }
        ]
      },
      {
        name: 'Linux Learning',
        description: 'Some notes and code about learning Linux',
        image: 'linux.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/linux-learning' },
          { type: 'site', href: 'https://linux.cworld.top/' },
          { type: 'doc', href: 'https://linux.cworld.top/docs' }
        ]
      },
      {
        name: 'R Learning',
        description: 'Some notes and code about learning R language',
        image: 'r.cworld.top.png',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/r-learning' },
          { type: 'site', href: 'https://r.cworld.top/' }
        ]
      }
    ]}
  />

  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: 'Java Learning',
          description: 'Some notes and code about learning Java',
          links: [{ type: 'github', href: 'https://github.com/cworld1/java-learning' }]
        },
        {
          name: 'C Learning',
          description: 'Some notes and code about learning C language',
          links: [{ type: 'github', href: 'https://github.com/cworld1/c-learning' }]
        },
        {
          name: 'Vue Learning',
          description: 'Some notes and code about learning Vue',
          links: [{ type: 'github', href: 'https://github.com/cworld1/vue-learning' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='others'>Others</h2>
  <ProjectSection
    project={[
      {
        name: 'Dotfiles',
        description: 'Personal *unix dotfiles',
        links: [{ type: 'github', href: 'https://github.com/cworld1/dotfiles' }]
      },
      {
        name: 'Neovim Config',
        description: 'Personal Neovim config files',
        links: [{ type: 'github', href: 'https://github.com/cworld1/nvim-config' }]
      },
      {
        name: 'CWorld Website',
        description: "CWorld's personal website",
        links: [{ type: 'github', href: 'https://github.com/cworld1/cworld1' }]
      }
    ]}
  />

  <!-- gpg signature -->
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code>0CFDE5AC865A9148</code>, and you can find it on the opengpg key servers or download
    from it.
  </p>
  <Button
    href='https://keys.openpgp.org/search?q=3E366C177CDBCD876FE0E065D42B539DC7C62A82'
    title='Checkout my key'
    target='_blank'
  >
    <svg class='size-5' slot='before'>
      <use href='/icons/project.svg#mingcute-key-2-line'></use>
    </svg>
  </Button>

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <div class='flex flex-col justify-center gap-4 sm:flex-row'>
    {
      [
        { name: 'WeChat', icon: 'mingcute-wechat-pay-line', image: wechat },
        { name: 'Alipay', icon: 'mingcute-alipay-line', image: alipay }
      ].map((item) => (
        <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
          <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
            <svg class='size-20'>
              <use href={`/icons/copyright-sponsor.svg#${item.icon}`} />
            </svg>
          </div>
          <Image
            class='mx-auto my-0 max-w-72 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
            src={item.image}
            alt={item.name}
            loading='eager'
          />
        </div>
      ))
    }
  </div>
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'C*aï¼ˆé…·å®‰@æš´èµ°ã®èœ—ç‰›ï¼‰', amount: '2.00', date: '2019-07-02' },
      { name: 'åŽé›„(QQï¼š1300****71)', amount: '5.00', date: '2019-12-30' },
      { name: 'â—Œ(QQï¼š1934****45)', amount: '3.00', date: '2019-12-30' },
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' }
    ]}
  />
</PageLayout>

<script is:inline type='module' data-astro-rerun>
  import { pageviewCount } from 'https://unpkg.com/@waline/client@v3/dist/pageview.js'

  pageviewCount({
    serverURL: 'https://waline.cworld.top/',
    path: window.location.pathname
  })
</script>
