html {
  font-family: 'Satoshi', sans-serif;
}

html.dark {
  color-scheme: dark;
}

/* Animation */
@keyframes fade-in-up {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate {
  opacity: 0;
  animation: 300ms fade-in-up;
  animation-fill-mode: forwards;
}
@media (prefers-reduced-motion) {
  .animate {
    opacity: 0;
    animation: 100ms fade-in-up;
    animation-fill-mode: forwards;
  }
}
#content-header {
  animation-delay: 50ms;
}
#sidebar {
  animation-delay: 100ms;
}

/* Shiki */
.astro-code {
  background-color: transparent !important;

  & pre {
    border-radius: 0.5rem;
    background-color: hsl(var(--primary-foreground));
    margin: 0 !important;

    & code {
      display: block;
      width: fit-content;
      min-width: 100%;
      counter-reset: step;
      counter-increment: step 0;

      & .line::before {
        content: counter(step);
        counter-increment: step;
        color: hsl(var(--muted-foreground) / 0.6);
        margin-inline-end: 0.75rem;
        justify-content: end;
        display: inline-flex;
        width: 1rem;
      }
      & .line:last-child:empty,
      & .line:last-child:has(> span:empty:only-child) {
        display: none;
      }
    }
  }

  /* Shiki transformer */
  &:has(code) {
    position: relative;
  }
  &:has(div.title) pre {
    padding-top: 2.5rem;
  }
  & button.copy {
    & .success::before {
      content: 'Copied!';
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      padding: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 0.25rem;
      color: hsl(var(--muted-foreground));
      background-color: hsl(var(--primary-foreground));
      border: 1px solid hsl(var(--border));
    }
    &.copied {
      & .success {
        display: block;
      }

      & .ready {
        display: none;
      }
    }
  }

  &:hover {
    button.copy {
      opacity: 1;
    }
    .language {
      opacity: 0;
    }
  }

  & .diff {
    margin: 0 -15px;
    padding: 0 15px;
    min-width: calc(100% + 30px);
    display: inline-block;
    &.remove {
      background-color: rgba(244, 63, 94, 0.16);
      opacity: 0.7;
      &::before {
        content: '-';
        color: var(--vp-code-line-diff-remove-symbol-color);
      }
    }
    &.add {
      background-color: rgba(16, 185, 129, 0.16);
      &::before {
        content: '+';
        color: var(--vp-code-line-diff-add-symbol-color);
      }
    }
  }
}
.dark {
  .astro-code pre {
    background-color: var(--shiki-dark-bg);
  }
  .astro-code pre span {
    color: var(--shiki-dark) !important;
  }
}

/* Scroll bar */
:root {
  --scrollbar-width: 6px;
  --scrollbar-bg: #e0e0e0;
  --scrollbar-thumb-bg: #c0c0c0;
}
html.dark {
  --scrollbar-bg: #2e2e2e;
  --scrollbar-thumb-bg: #4e4e4e;
}
body::-webkit-scrollbar {
  height: 0;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background: #0000;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 999px;
  border: 2px solid var(--scrollbar-thumb-bg);
  opacity: 0.5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
