html {
  font-family: 'Satoshi', sans-serif;
}

html.dark {
  color-scheme: dark;
}

.animate {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .animate {
    opacity: 0;
    transform: translateY(5px);
    transition:
      opacity 0.1s ease,
      transform 0.1s ease;
  }
}
