---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import FriendList from '@/components/links/FriendList.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import Comment from '@/components/Comment.astro'

import links from 'public/links.json'
import '@/assets/styles/links.css'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: '常规友链'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: '特殊友链'
  },
  {
    depth: 2,
    slug: 'small-circle',
    text: '小小鱼塘'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: '申请友链'
  }
]

const friendlist = links.friends
---

<PageLayout title='Links' headings={headings} info='/links'>
  <p>怎么可能有顺序呢，当然是随机的~</p>
  <h2 id='common-links'>常规友链</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='不太活跃的博客'>
    <FriendList list={friendlist[1]} />
  </Collapse>
  <Collapse title='友链记录册'>
    <Timeline
      events={[
        { date: '2020-07-09', content: '蒟蒻の BLOG 离开' },
        { date: '2020-07-09', content: 'Vexsy 离开' },
        { date: '2020-07-07', content: 'Raaynk’s Blog 消失' },
        { date: '2020-07-07', content: '冬马的白色相簿 回归' },
        { date: '2021-02-22', content: '半叶子 离开' },
        { date: '2021-02-22', content: '冬马的白色相簿 消失' },
        { date: '2021-02-02', content: 'Heven Kin 回归' },
        { date: '2022-02-13', content: '理工小天使 消失' },
        { date: '2022-02-13', content: '自由灵的梦境 消失' },
        { date: '2022-02-13', content: '冬马のホワイトアルバム 消失' },
        { date: '2022-02-13', content: 'Sansui 消失' },
        { date: '2022-09-01', content: '椎咲良田 消失' },
        { date: '2022-09-01', content: '木子の Blog 离开' },
        { date: '2022-09-01', content: 'LanYun の Blog 消失' },
        { date: '2022-09-01', content: "Wittoy's Blog 消失" },
        { date: '2022-09-05', content: '东方幻梦 离开' },
        { date: '2022-09-05', content: '绎梦机 离开' },
        { date: '2022-11-09', content: '一叶竹 消失' },
        { date: '2022-11-23', content: "KD's Blog 消失" },
        { date: '2022-02-13', content: 'LanYun の Blog 回归' },
        { date: '2022-12-14', content: 'KD 的网络小屋 回归' },
        { date: '2023-02-09', content: 'L1nSn0w’s Blog 消失' },
        { date: '2023-02-09', content: '鲨鱼辣椒 消失' },
        { date: '2023-02-09', content: "Jinlk's blog 消失" },
        { date: '2023-02-09', content: 'L1nSn0w’s Blog 回归' },
        { date: '2023-03-01', content: 'NEKO#ΦωΦ 消失' },
        { date: '2023-04-25', content: 'Barkure 消失' },
        { date: '2023-04-25', content: 'KD 的网络小屋 消失' },
        { date: '2023-06-13', content: 'LyShark - 孤风洗剑 消失' },
        { date: '2023-06-13', content: 'Ojhdt’s Blog 消失' },
        { date: '2023-06-13', content: 'Barkure 消失' },
        { date: '2023-06-13', content: "七云's Blog 消失" },
        { date: '2023-10-24', content: "Enjoy's blog 消失" },
        { date: '2023-10-24', content: "Wayne's Blog 消失" },
        { date: '2023-10-24', content: "七云's Blog 回归" },
        { date: '2024-04-29', content: '彬红茶博客 消失' },
        { date: '2024-04-29', content: 'OURONGXING 离开' },
        { date: '2024-04-29', content: '凌冬的个人博客 消失' },
        { date: '2024-04-29', content: '大蛋糕的烘焙坊 离开' },
        { date: '2024-05-07', content: 'Fly 消失' },
        { date: '2024-06-13', content: "Y'Blog 消失" },
        { date: '2024-06-18', content: "Y'Blog 回归" },
        { date: '2024-07-01', content: '安知鱼 荒废' },
        { date: '2024-07-01', content: 'Kris Yan 荒废' },
        { date: '2024-07-01', content: 'Ordis 荒废' },
        { date: '2024-07-01', content: 'itsNeko 离开' },
        { date: '2024-07-01', content: "Wittoy's Blog 回归" }
      ]}
    />
  </Collapse>
  <FriendList list={friendlist[2]} title='特殊友链' />

  <h2 id='small-circle'>小小鱼塘</h2>
  <div id='hexo-circle-of-friends-root' class='mt-5'></div>

  <!-- apply-links -->
  <h2 id='apply-links'>申请友链</h2>
  <p>本站信息如下：</p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>名称：<code>CWorld Site</code></p>
    <p>简介：<code>求知若愚，虚怀若谷</code></p>
    <p>链接：<code>https://cworld.top/</code></p>
    <p>图标：<code>https://cravatar.cn/avatar/1ffe42aa45a6b1444a786b1f32dfa8aa?s=200</code></p>
  </blockquote>

  <p>
    申请时还请按照这个模板留言（<a
      href='https://github.com/cworld1/cworld1/blob/main/public/links.json'
      target='_blank'>提交 PR</a
    > 或许也是个更快的办法）。此外有关申请说明：
  </p>
  <ul>
    <li>在你的友链上添加了本站；</li>
    <li>请确保你的站点活着；</li>
    <li>博客内容不违反国家法律。</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>

<script is:inline>
  let UserConfig = {
    // 填写你的api地址
    private_api_url: 'https://links.cworld.top/',
    // 初始加载几篇文章
    page_init_number: 10,
    // 点击加载更多时，一次最多加载几篇文章，默认10
    page_turning_number: 10,
    // 头像加载失败时，默认头像地址
    error_img: 'https://cravatar.cn/avatar/57d8260dfb55501c37dde588e7c3852c',
    // 进入页面时第一次的排序规则
    sort_rule: 'created',
    // 本地文章缓存数据过期时间（天）
    expire_days: 1
  }
  UserConfig = { ...UserConfig } // 这行只是为了让TypeScript不报错
</script>
<script src='https://npm.elemecdn.com/fcircle-theme-yyyz@1.0.13/dist/fcircle.min.js'></script>
