---
import type { CollectionEntry } from 'astro:content'

import { cn, getAllCollections, sortMDByDate } from '@/utils'

type Props = {
  content: CollectionEntry<'post'>
  class?: string
}

// Get the requested entry
const { content, class: className } = Astro.props

// Get the next and prev entries (modulo to wrap index)
const collections = sortMDByDate(await getAllCollections(content.collection))
const index = collections.findIndex((x) => x.slug === content.slug)
const prev = collections[index - 1]
const next = collections[index + 1]
---

<div class={cn('flex max-sm:flex-col sm:justify-between gap-2', className)}>
  <span class='min-w-0'>
    {
      prev && (
        <a
          href={`/blog/${prev.slug}`}
          class='group inline-flex items-center gap-x-2 rounded-xl px-4 py-2 no-underline transition-colors duration-300 hover:bg-muted max-sm:max-w-[80%] sm:flex'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke-width='2.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='shrink-0 rotate-180 stroke-muted-foreground transition-colors group-hover:stroke-primary'
          >
            {' '}
            <line
              x1='5'
              y1='12'
              x2='19'
              y2='12'
              class='translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100'
            />
            <polyline
              points='12 5 19 12 12 19'
              class='translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1'
            />
          </svg>
          <p class='truncate font-medium transition-colors'>{prev.data.title}</p>
        </a>
      )
    }
  </span>

  <span class='min-w-0'>
    {
      next && (
        <a
          href={`/blog/${next.slug}`}
          class='group float-end inline-flex items-center gap-x-2 rounded-xl px-4 py-2 text-right no-underline transition-colors duration-300 hover:bg-muted max-sm:max-w-[80%] sm:flex'
        >
          <p class='truncate font-medium transition-colors'>{next.data.title}</p>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke-width='2.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='shrink-0 stroke-muted-foreground transition-colors group-hover:stroke-primary'
          >
            <line
              x1='5'
              y1='12'
              x2='19'
              y2='12'
              class='translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100'
            />
            <polyline
              points='12 5 19 12 12 19'
              class='translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1'
            />
          </svg>
        </a>
      )
    }
  </span>
</div>
