---
import type { CollectionEntry } from 'astro:content'

import { cn, getAllCollections } from '@/utils'

type Props = {
  content: CollectionEntry<'post'>
  class?: string
}

// Get the requested entry
const { content, class: className } = Astro.props
const { collection } = content

// Get the next and prev entries (modulo to wrap index)
const items = ((await getAllCollections(collection)) as CollectionEntry<typeof collection>[])
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
const index = items.findIndex((x) => x.slug === content.slug)
const prev = items[index - 1]
const next = items[index + 1]
---

<div class={cn('grid grid-cols-1 gap-2 sm:gap-4 sm:grid-cols-2', className)}>
  <div>
    {
      prev && (
        <a
          href={`/blog/${prev.slug}`}
          class='group flex items-center gap-3 rounded-lg border border-transparent px-4 py-2 no-underline transition-colors duration-300 hover:bg-muted sm:py-4'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke-width='2.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='rotate-180 stroke-muted-foreground transition-colors group-hover:stroke-primary'
          >
            <line
              x1='5'
              y1='12'
              x2='19'
              y2='12'
              class='translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100'
            />
            <polyline
              points='12 5 19 12 12 19'
              class='translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1'
            />
          </svg>
          <div class='flex max-w-[80%] grow flex-col gap-0.5 sm:gap-1.5'>
            <div class='text-sm font-normal uppercase text-muted-foreground'>Prev</div>
            <div class='truncate whitespace-nowrap font-medium transition-colors'>
              {prev.data.title}
            </div>
          </div>
        </a>
      )
    }
  </div>

  <div>
    {
      next && (
        <a
          href={`/blog/${next.slug}`}
          class='group flex items-center justify-end gap-3 rounded-lg border border-transparent px-4 py-2 text-right no-underline transition-colors duration-300 hover:bg-muted sm:py-4'
        >
          <div class='flex max-w-[80%] grow flex-col gap-0.5 sm:gap-1.5'>
            <div class='text-sm font-normal uppercase text-muted-foreground'>Next</div>
            <div class='truncate whitespace-nowrap font-medium transition-colors'>
              {next.data.title}
            </div>
          </div>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 24 24'
            fill='none'
            stroke-width='2.5'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='stroke-muted-foreground transition-colors group-hover:stroke-primary'
          >
            <line
              x1='5'
              y1='12'
              x2='19'
              y2='12'
              class='translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100'
            />
            <polyline
              points='12 5 19 12 12 19'
              class='translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1'
            />
          </svg>
        </a>
      )
    }
  </div>
</div>
