/* Theme */
:root {
  /* Primary */
  --primary: 200 29% 45%;
  /* Foreground */
  --foreground: 240 10% 3.9%;
  --muted-foreground: 240 3.8% 28.1%;
  /* Background */
  --background: 210 33% 99%;
  --muted: 240 4.8% 96%;
  --card: 0 0% 90%;

  /* Basic */
  --border: 240 5.9% 88%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}
.dark {
  /* Primary */
  --primary: 195 95% 85%;
  /* Foreground */
  --foreground: 0 0% 98%;
  --muted-foreground: 240 5% 74.9%;
  /* Background */
  --background: 240 20.54% 5.2%;
  --muted: 240 5.9% 13%;
  --card: 240 3.7% 24.9%;

  /* Basic */
  --border: 240 3.7% 22.9%;
  --input: 240 3.7% 17.9%;
  --ring: 240 4.9% 83.9%;
}
:root {
  --un-default-border-color: hsl(var(--border) / 1);
}
html.dark {
  color-scheme: dark;
}

/* Global */
a {
  transition: color 0.2s ease;
  &:hover {
    color: hsl(var(--primary) / var(--un-text-opacity, 1));
  }
}
