#cf-container {
  --lmm-background: transparent;
  --lmm-fontcolor: hsl(var(--foreground) / var(--tw-text-opacity));
  --lmm-floorcolor: hsl(var(--muted-foreground) / var(--tw-text-opacity));
  --lmm-hover: hsl(var(--primary) / var(--tw-text-opacity));
  --lmm-border: hsl(var(--border) / var(--tw-border-opacity));
  --lmm-background-floorcolor: hsl(var(--muted-foreground) / var(--tw-text-opacity));
  display: flex;
  flex-flow: row wrap;
}

/* position */
#cf-container > div:nth-child(1) {
  order: 2;
  width: 100%;
  text-align: right;
}
#cf-container > div:nth-child(2) {
  order: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
#cf-container > div:nth-child(2) > div {
  width: 100%;
}

/* each article */
#cf-container .cf-article,
#cf-more {
  transition: background-color 0.15s;
  border: 1px solid var(--lmm-border);
  border-radius: 1rem;
  margin: 0;
  padding: 0.875rem 1rem;
}
#cf-container .cf-article:hover,
#cf-more:hover {
  background-color: var(--lmm-border);
}
/* disable hover transform */
#cf-container .cf-article:hover {
  transform: none;
}
/* fix colors */
.cf-article-author,
.cf-article:hover .cf-article-floor,
.cf-article:hover .cf-time-created,
.cf-article:hover .cf-time-updated {
  color: var(--lmm-background-floorcolor);
}
/* title */
#cf-container .cf-article-title {
  letter-spacing: normal;
  font-size: 1rem;
  line-height: normal;
}
/* infos */
#cf-container .cf-article-avatar {
  height: 22px;
  line-height: 22px;
}
#cf-container .cf-img-avatar {
  margin-top: -8px !important;
}
#cf-container .cf-article-author {
  height: 22px;
  line-height: 22px;
}
#cf-container .far.fa-calendar-alt {
  display: none;
}
/* floor */
#cf-container .cf-article-floor {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-weight: bold;
  font-size: 5rem;
  opacity: 0.1;
  line-height: normal;
  top: -2rem;
}

/* more */
#cf-more:hover {
  width: 40%;
}

/* footer */
#cf-footer {
  margin: 1rem 0 0;
}
#cf-state {
  width: auto;
  max-width: fit-content !important;
  float: right;
  justify-content: end;
  padding: 0 !important;
  flex-direction: column;
}
#panel-btn {
  color: var(--lmm-floorcolor);
  border: none;
  position: inherit !important;
  padding: 0;
}
#panel-btn::after {
  content: 'Settings';
}
#panel-btn span {
  display: none;
}
#cf-container .cf-state-data {
  justify-content: right;
}
#cf-container .cf-data-friends,
#cf-container .cf-data-active,
#cf-container .cf-data-article {
  flex-direction: row;
  justify-content: right;
  height: auto;
  min-width: 5rem;
}
#cf-container .cf-label,
#cf-container .cf-message {
  white-space: nowrap;
  width: max-content;
  height: auto;
  font-size: 1rem;
}
#cf-change {
  width: auto;
}
