---
import type { MarkdownHeading } from 'astro'

import Button from '@/components/Button.astro'
import TOC from '@/components/pages/TOC.astro'
import PageLayout from '@/layouts/BaseLayout.astro'

interface Props {
  title: string
  headings?: MarkdownHeading[]
}

const { title, headings, ...props } = Astro.props
---

<PageLayout meta={{ title }} {...props}>
  <div class='w-full'>
    <Button title='Back' href='/' style='back' />

    <div class='mt-8 gap-x-10 lg:flex lg:items-start'>
      {headings && <TOC headings={headings} />}
      <article
        class='flex-grow break-words'
        style='flex-grow: 3; flex-shrink: 1; flex-basis: 60%;'
        data-pagefind-body
      >
        <div
          class='prose prose-base prose-zinc mt-8 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
        >
          <h1>{title}</h1>
          <slot />
        </div>
      </article>
    </div>
    <div
      class='prose prose-base prose-zinc mt-8 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
    >
      <slot name='bottom' />
    </div>
  </div>
</PageLayout>
