---
import type { MarkdownHeading } from 'astro'

import PageLayout from '@/layouts/BaseLayout.astro'
import TOC from '@/components/pages/TOC.astro'
import PageInfo from '@/components/pages/PageInfo.astro'
import Button from '@/components/Button.astro'
import BackToTop from '@/components/pages/BackToTop.astro'

interface Props {
  title: string
  headings?: MarkdownHeading[]
  info?:
    | string
    | {
        slug: string
        hideComment?: boolean
      }
}

const { title, headings, info, ...props } = Astro.props
---

<PageLayout meta={{ title }} {...props}>
  <div class='w-full'>
    <Button title='Back' href='/' style='back' />

    <div class='mt-8 gap-x-10 lg:flex lg:items-start'>
      {!!headings?.length && <TOC headings={headings} />}
      <article
        class='flex-grow break-words'
        style='flex-grow: 3; flex-shrink: 1; flex-basis: 60%;'
        data-pagefind-body
      >
        <div id='hero'>
          <h1 class='text-2xl font-medium sm:mb-2 sm:text-3xl'>
            {title}
          </h1>
          {
            info && (
              <PageInfo
                path={typeof info === 'string' ? info : info.slug}
                hideComment={
                  typeof info === 'object' && info.hideComment ? info.hideComment : false
                }
                class='italic'
              />
            )
          }
        </div>
        <div
          id='content'
          class='prose prose-base prose-zinc mt-8 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
        >
          <slot />
        </div>
      </article>
    </div>
    <div
      class='prose prose-base prose-zinc mt-8 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
    >
      <slot name='bottom' />
    </div>
    <BackToTop header='hero' content='content' />
  </div>
</PageLayout>
