---
import { BackToTop } from 'astro-pure/components/pages'
import type { SiteMeta } from 'astro-pure/types'
import { Button, Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

interface Props {
  meta: SiteMeta
  highlightColor?: string
  back?: string
}

const { meta, highlightColor, back = '/', ...props } = Astro.props
---

<PageLayout {meta} {highlightColor} {...props}>
  <Button title='Back' href={back} style='back' />
  <main class='mt-6 items-start gap-x-10 md:flex'>
    {/* Sidebar */}
    <aside
      class='animate top-20 min-w-48 basis-60 overflow-y-scroll max-md:hidden z-10 fixed md:sticky md:order-2 lg:shrink-0 max-md:border max-md:px-4 max-md:py-3 max-md:bg-muted max-md:rounded-xl'
      style='height:calc(100vh - 7rem);'
      id='sidebar'
    >
      <slot name='sidebar' />
    </aside>

    <article class='min-w-0 grow'>
      {/* Content header */}
      <div id='content-header' class='animate'>
        <slot name='header' />
      </div>

      {/* Content */}
      <div
        id='content'
        class={cn(
          'max-w-none animate mt-8 md:min-w-[45ch] overflow-x-hidden',
          integ.typography.class
        )}
      >
        <slot />
      </div>
    </article>
  </main>

  <div class='bottom mt-6 items-start gap-x-10 md:flex'>
    {/* Bottom */}
    <div class='mt-8 flex-1 text-muted-foreground md:min-w-[50ch]'>
      <slot name='bottom' />
    </div>
    <div class='min-w-48 basis-60'>
      <slot name='bottom-sidebar' />
    </div>
  </div>

  <BackToTop header='content-header' content='content'>
    <button
      slot='other-icons'
      aria-label='Toggle sidebar'
      class='md:hidden h-10 w-10 flex items-center justify-center rounded-full border-2 border-transparent bg-muted text-muted-foreground duration-300 hover:border-border/75 sm:size-12'
      id='sidebar-btn'
    >
      <Icon name='list' />
    </button>
  </BackToTop>
</PageLayout>

<script>
  // Toggle sidebar visibility on button click
  const sidebarButton = document.getElementById('sidebar-btn')
  const sidebar = document.getElementById('sidebar')

  sidebarButton?.addEventListener('click', () => {
    sidebar?.classList.toggle('show')
  })
</script>
<style>
  aside.show {
    display: block !important;
  }
  @media (max-width: 800px) {
    aside {
      height: calc(100vh - 14rem) !important;
      width: calc(100vw - 2rem) !important;
    }
  }
</style>
